<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="/static/admin.css">
</head>

<body>

<div class="login-box">

  <h2>Admin Login</h2>

  <form method="POST" action="/admin">
    
    

    <label>Username</label>
    <br>
    <input type="text" name="username" placeholder="Enter Username" required>
    <br><br>

    <label>Password</label>
    <br>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br><br>

    
      <p style="color:red;"></p>


    <button type="submit">Login</button>
  </form>

  <br>
  <div class="one">
  <a href="/">Back to Home</a>
</div>
</div>

</body>
</html>