<!DOCTYPE html>
<html>
<head>
  <title>Online Recruitment System</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Online Recruitment System</h1>

<nav class="index">
  <a href="/admin">Admin</a> 
  <a href="/recruiter">Recruiter</a> 
  <a href="/register">Candidate Register</a> 
  <a href="/login">Candidate Login</a> 

  <a href="/jobs">Jobs</a>
</nav>

<section class="hero">
  <h1>Find Your Dream Job</h1>
  <p>Explore thousands of job opportunities</p>

  <!-- Search Bar -->
  <div class="search-box">
    <input type="text" placeholder="Job title or keyword">
    <input type="text" placeholder="Location">
    <button>Search</button>
  </div>
</section>

</body>
</html>